<div id="dropdown">
	<div id="dropdown_txt">
	So much <br />
	Text about these architects ...
	</div>
</div>
<%= link_to 'Show/Hide', '#', id: 'showHideLink' %>

<%= render 'shared/header' %>
<%= render 'shared/nav' %>


<div class='body_container'>
<p>
This is the about page. It may function as a dropdown or be a seperate page depending on how the site develops. 
</p>
</div>