<%= render 'shared/dropdown' %>

<%= render 'shared/header' %>

	<div id="slideshow">
	 <% @images.each do |image| %>
	 	<div>
   		<%= image_tag "index/#{image.split('/').last}" %>
   		</div>
 	 <% end %>
    </div>
