
<div id="hideShowDiv" class="dropdown">
<div id="text_frame">
<div class="about_paragraph">
<h1>NEMESTUDIO</h1>
<p>ulpario ea sediate cabore, vellabo. Voluptam quiduci usdaescipsa corere porrore mquam, tecte nima volessed quaerro ipidusdae volum ipsusapis reptasp idendaes modignate ipsam vitam soles explibus sitatumque qui qui as idestrum expe nam, se voloris nonsequae andae eossum facide
ulpario ea sediate cabore, vellabo.</p>
<p class="i">Voluptam quiduci usdaescipsa corere porrore mquam, tecte nima volessed quaerro ipidusdae volum ipsusapis reptasp idendaes modignate ipsam vitam soles explibus sitatumque qui qui as idestrum expe nam, se voloris nonsequae andae eossum facide</p></br>
<p>The studio welcomes expressions of interest, something, something, something.</p> </br>
<p>Download portfolio <u>here</u>.</p>
</div>
<div class="about_paragraph">
<h1>NeyranTuran</h1>
Neyran Turan is an architect, and currently an Assistant Professor at <span style="border-bottom: 5px #fff">Rice University School of Architecture.</span> Turan received her Bachelor of Architecture from <span style="border-bottom: 5px #fff">Istanbul Technical University</span>, holds a masters degree from <span style="border-bottom: 5px #fff">Yale University School of Architecture</span> and a doctoral degree from <span style="border-bottom: 5px #fff">Harvard University Graduate School of Design (GSD).</span>
<p class="i">Turan’s work focuses on contemporary interpretation of scale, infrastructure and ecology, and their potentiality for new positionings in architecture and urbanism. She is the cofounder of <span style="border-bottom: 5px #fff">NEMESTUDIO</span>, a design and research collaborative.Turan is also the founding chief-editor of the recently launched Harvard GSD journal <span style="border-bottom: 5px #fff">New Geographies</span> (volume 1: 2008, volume 2: Spring 2009).</p>
<p class="i">Turan’s recent publications include articles in <span style="border-bottom: 5px #fff">Thresholds</span>, <span style="border-bottom: 5px #fff">ACSA Surfacing Urbanisms</span>, <span style="border-bottom: 5px #fff">Bidoun- Technology</span>, <span style="border-bottom: 5px #fff">Corporations-Cities</span>, and upcoming book chapters in <span style="border-bottom: 5px #fff">Landscapes of Development</span> (Harvard University), <span style="border-bottom: 5px #fff">the Superlative City: Dubai and the Urban Condition in the EarlyTwenty- First Century</span> (Harvard University) and <span style="border-bottom: 5px #fff">Public#6: DenseCity.Turan</span> has also acted as the assistant editor for the book, <span style="border-bottom: 5px #fff">Joseph Lluis Sert: The Architect of Urban Design</span> (with Hashim Sarkis and Eric Mumford,Yale University Press, 2008).</p>
<p class="i">Before coming to Rice,Turan was teaching at <span style="border-bottom: 5px #fff">Harvard GSD</span>. She
also taught at <span style="border-bottom: 5px #fff">Yale University School of Architecture</span>, <span style="border-bottom: 5px #fff">Boston Architecture College</span>, and <span style="border-bottom: 5px #fff">Istanbul Technical University</span>.Turan is currently working on the forthcoming volume of the <span style="border-bottom: 5px #fff">New Geographies</span> journal titled <span style="border-bottom: 5px #fff">After Zero.</span></p>
</div>
<div class="about_paragraph">
<h1>Mete Sonmez</h1>
<p>
Mete holds a Master of Architecture degree from Harvard University Graduate School of Design and obtained his Bachelor of Architecture degree
from IstanbulTechnical University. He gained experience and recognition through his experience as design lead on various projects at H.S.A.L.U.D. with Hashim Sarkis and at M.S.A. with Jorge Silvetti and Rodolfo Machado, both internationally renowned architectural practices based in Boston.</p>
<p class="i">
Mete is an award-winning designer with over 15 years extensive national and international experience. He has taught design studios and is a guest critic and lecturer at schools such as Harvard University, Rice University, IstanbulTechnical University, Boston Architecture College and the University of Houston.
</p>
</div>
<div class="about_paragraph">
<h1>Contact</h1>
<p>
1510 Harold St </br>
HoustonTX</br> 
77006</br>
USA</br>
</p>
<p class="margin">
+1 (713) 489-2133</br>
</p>
<p class="margin">
<%= mail_to "info@nemestudio.com" %></br> 
<%= mail_to "metesonmez@nemestudio.com" %></br> 
<%= mail_to "neyranturan@nemestudio.comIlis" %>
</p>
</div>
<button id="hide"><%= image_tag('exit_button.png', alt: "close") %></button>
</div>
</div>

