body {
  padding: 0;
  margin: 0;
}

/**
//** Site
//**
//********************************************************/
.body_container {
  text-align: center;
  margin: auto;
  float: left;
  width: 800px;
  padding: 5px;
  margin-left: 10%;
  margin-top: 200px;
  border: 3px solid lime;
}
.wrapper {
    margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
  }
nav {
  display: inline-block;
  text-align: left;
  position: relative;
  padding: 0px 200px 0px 200px;
  margin-left: 0px;
  margin-top: 16px;
}
ul {
  list-style: none;
  float: left;
  padding: 0px 150px 0px 0px;
}
p {
}

/**
//** dropdown
//**
//********************************************************/
.about_paragraph {
  display: block;
  float: left;
  width: 14em;
  padding: 2em;
}
#show {
  z-index: 5;
  position: absolute;
  display: inline;
  background: red;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 90%;
  margin-top: 10px;
}

.dropdown {
  display: inline;
  z-index: 6;
  position: relative;
  position: none;
  background: red;
  width: 100%;
}
#dropdown_txt {
  padding: 0em 2em 1em 2em;
}

#hide {
  z-index: 5;
  position: absolute;
  margin-left: 50%;
}

/**
//** Header
//**
//********************************************************/

#header {
  z-index: 300;
  position: relative;
  float: left;
}

#header img {
  padding: 25px 50px;
  width: 70px;
  height: auto;
}

/**
//** Slideshow
//**
//********************************************************/

html {
  margin: 0;
  padding: 0;
}

#slideshow {
  position: relative;
}

#slideshow div {
  z-index: 0;
  position: absolute;
}

#slideshow img {
  z-index: 1;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #slideshow img  {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}