
@font-face {
    font-family: 'UniversLTStd';
    src: font-url('UniversLTStd.otf');
    src: font-url('UniversLTStd.otf?#iefix') format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'UniversLTStd';
}

/**
//** Site
//**
//********************************************************/
.wrapper {
    margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
  }
nav {
  display: inline-block;
  text-align: left;
  position: relative;
  padding: 0px 200px 0px 200px;
  margin-left: 0px;
  margin-top: 16px;
}
ul {
  list-style: none;
  float: left;
  padding: 0px 150px 0px 0px;
}
p {

}

/**
//** dropdown
//**
//********************************************************/
#text_frame {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
}

.about_paragraph {
  display: block;
  vertical-align: center;
  float: left;
  width: 19em;  
  margin: .8em;
  padding: 0em;
  font-size: .9em;
}
.about_paragraph h1 {
  font-size: .9em;
  text-align: center;
}
button {
  border: 0;
}
button:focus {
  outline:0;
}
#show {
  z-index: 5;
  position: absolute;
  display: inline;
  background: #fff;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 90%;
  margin-top: 10px;
  background: transparent;
}
#hide {
  z-index: 5;
  position: absolute;
  display: block;
  margin-left: 85%;
  margin-top: 30%;
  background: #000;
  color: #fff;
  font-size: 3em;
}

.dropdown {
  display: inline;
  z-index: 6;
  position: relative;
  position: none;
  background: #000;
  color: #fff;
  width: 100%;
}
#dropdown_txt {
  padding: 0em 2em 1em 2em;
}


/**
//** Header
//**
//********************************************************/

#header {
  z-index: 300;
  position: relative;
  float: left;
}

#header img {
  padding: 25px 50px;
  width: 70px;
  height: auto;
}

/**
//** Slideshow
//**
//********************************************************/

html {
  margin: 0;
  padding: 0;
}

#slideshow {
  position: relative;
}

#slideshow div {
  z-index: 0;
  position: absolute;
}

#slideshow img {
  z-index: 1;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
}


