
/**
//** Site
//**
//********************************************************/
.body_container {
  text-align: center;
  margin: auto;
  float: left;
  width: 800px;
  padding: 5px;
  margin-left: 10%;
  margin-top: 200px;
  border: 3px solid lime;
}
nav {
  display: inline-block;
  text-align: left;
  position: relative;
  padding: 0px 200px 0px 200px;
  margin-left: 0px;
  margin-top: 16px;
}
ul {
  list-style: none;
  float: left;
  padding: 0px 150px 0px 0px;
}
p {
}

/**
//** Header
//**
//********************************************************/

#header {
  z-index: 300;
  position: relative;
  float: left;
}

#header img {
  padding: 25px 50px;
  width: 70px;
  height: auto;
}

/**
//** Slideshow
//**
//********************************************************/

html {
  margin: 0;
  padding: 0;
}

#cf4a {
  z-index: 1;
  position: absolute;
}

#cf4a img {
  z-index: 1;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;

  /* transitions */
 -webkit-transition: opacity .1s ease-in-out;
 -moz-transition: opacity .1s ease-in-out;
 -o-transition: opacity .1s ease-in-out;
 transition: opacity .1s ease-in-out; 
 -webkit-transform: translateZ(0);
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #cf4a img  {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@-webkit-keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes cf4FadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

#cf4a img {
  -webkit-animation-name: cf4FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cf4FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  -o-animation-name: cf4FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 8s;

  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
#cf4a img:nth-of-type(1) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#cf4a img:nth-of-type(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
#cf4a img:nth-of-type(3) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#cf4a img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

