/**
//** Media
//**
//********************************************************/

@media screen and (max-device-width: 480px) and (orientation: portrait) { /* for iphone */
#header {
  position: none;
  margin-left: 42%
}
#header img{ 
   max-width: 100%;
   height: auto;
}
nav {
  position: relative;
  padding: 0;
  margin-right: 42%;
  margin-left: 31%;
}
ul {
  display: inline-block;
  text-align: center;
  list-style: none;
  float: left;
  width: 100%;
}
  #cf4a img {
  position: none; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: 80% 0 0 0; 
  min-width: 100%;
  min-height: 30%;
  }
}

@media only screen and (max-device-width: 480px) and (orientation: landscape){
 #header {
     
    }

  #header img {

  }

  #cf4a {

  }

  #cf4a img {

   }
}