<!DOCTYPE html>
<html>
<head>
  <title>Nemestudio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
  $(function() {
    $(".rslides").responsiveSlides();
       $("#slider1").responsiveSlides({
        auto: false,
        pager: true,
        nav: true,
        speed: 500,
        maxwidth: 800,
        namespace: "centered-btns"
      });
     
  });


	</script>
<%= yield %>
</body>
</html>
